<mat-toolbar class="banner" color="primary">
  <h1>{{ greeting }}</h1>
</mat-toolbar>

<div class="todos">
  <app-add-todo (keyup)="addTodo($event)"></app-add-todo>
  <app-todo-tabs (tabChange)="handleFilter($event)"></app-todo-tabs>
  <!-- todo-display -->
  <div>
    <ng-container *ngFor="let todo of getDisplay(); let i = index">
      <ng-container *ngIf="i < pageLength">
        <app-todo-item
          class="todo-item"
          [todo]="todo"
          (completed)="toggleCompleted(todo)"
          (trash)="toggleTrashed(todo)"
          (delete)="deleteTodo(todo)"
          (onTitleBlur)="setTitle($event, todo)"
        >
        </app-todo-item>
      </ng-container>
    </ng-container>
  </div>
  <!-- pageinator -->
  <ng-container *ngIf="filteredTodos.length > pageLength">
    <mat-paginator
      (page)="pageEvent($event)"
      [length]="filteredTodos.length"
      [pageSize]="pageLength"
      hidePageSize
    ></mat-paginator>
  </ng-container>
</div>
