<div class="todos">
  <app-button-toggle (selectEvent)="handleFilter($event)"></app-button-toggle>
  <div class="todos">
    <app-add-todo (keyup)="addTodo($event)"></app-add-todo>
    <ng-container *ngFor="let todo of todos">
      <app-todo-item
        class="todo-item"
        (delete)="deleteTodo(todo)"
        (onblur)="updateTodoTitle($event, todo)"
        (check)="updateTodoCompleted($event, todo)"
        [todo]="todo"
      >
      </app-todo-item>
    </ng-container>
  </div>
</div>
