<mat-toolbar class="navbar" color="primary">
  <div id="nav-left">
    <a class="brand" routerLink="/">todoer</a>
  </div>
  <div id="nav-right">
    <!-- user is logged in --->
    <div *ngIf="auth.user$ | async as user; else login">
      <mat-menu menu #userProfile="matMenu">
        <button routerLink="/todos" mat-menu-item>Todos</button>
        <button mat-menu-item (click)="auth.signOut()">Logout</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="userProfile">
        {{ user.email }}
      </button>
    </div>
    <!-- user is not logged in -->
    <ng-template #login>
      <div>
        <button mat-button (click)="auth.googleSignIn()">Login</button>
      </div>
    </ng-template>
  </div>
</mat-toolbar>
