<div class="todo-item" [class.complete]="todo.completed" [class.trashed]="todo.trashed">
  <mat-form-field class="todo-title">
    <input
      matInput
      paceholder="todo"
      class="todo-title"
      (blur)="onBlur($event)"
      type="text"
      value="{{ todo.title }}"
    />
  </mat-form-field>
  <mat-checkbox
    *ngIf="!todo.trashed"
    type="checkbox"
    class="checkbox"
    [checked]="todo.completed"
    (click)="checkClick($event)"
  >
  </mat-checkbox>
  <div class="todo-options">
    <button
      *ngIf="!todo.trashed; else remove"
      matTooltip="Trash"
      matTooltipPosition="after"
      mat-icon-button
      (click)="trash()"
    >
      <mat-icon>delete</mat-icon>
    </button>

    <ng-template #remove>
      <button
        mat-icon-button
        matTooltip="Restore from trash"
        matTooltipPosition="above"
        (click)="trash()"
      >
        <mat-icon>restore_from_trash</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Delete" matTooltipPosition="above" (click)="delete()">
        <mat-icon>remove_circle</mat-icon>
      </button>
    </ng-template>
  </div>
</div>
