.todo-item {
  width: 100%;
  display: flex;
  margin-bottom: 0.25rem;
  &.complete {
    background-color: lightgoldenrodyellow;
    border-radius: 1rem;
  }
  .todo-title {
    margin: auto;
    width: 80%;
  }
  .todo-options {
    * {
      margin: auto;
      margin-right: 2rem;
    }
  }
}
