.app {
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	text-align: center;
}

.navbar {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	z-index: 10;
	box-shadow: 0 0 3px black;
	font-size: 1rem;
	#nav-left {
		.brand {
			font-size: 2rem;
		}
	}
}